In [1]:
import os

In [3]:
os.getcwd()

'/Users/asaldanha'

In [5]:
os.chdir('/Users/asaldanha/Work/python')

In [7]:
os.getcwd()

'/Users/asaldanha/Work/python'

In [9]:
import pandas as pd

In [11]:
hdf = pd.read_csv("/Users/asaldanha/Downloads/hhi_tx.csv")

In [13]:
dataTypeSeries = hdf.dtypes
print('Data type of each column of Dataframe :')
print(dataTypeSeries)

Data type of each column of Dataframe :
STATEFP10          int64
STATE             object
STATE_ABV         object
ZCTA               int64
GEOID10            int64
                  ...
PR_PM25          float64
NBE_SCORE        float64
NBE_RANK         float64
OVERALL_SCORE    float64
OVERALL_RANK     float64
Length: 75, dtype: object

In [15]:
hdf['GEOID10'] = hdf['GEOID10'].astype(str).apply(lambda x: x.replace('.0',''))

In [18]:
hdf['ZCTA'] = hdf['ZCTA'].astype(str).apply(lambda x: x.replace('.0',''))

In [20]:
dataTypeSeries = hdf.dtypes
print('Data type of each column of Dataframe :')
print(dataTypeSeries)

Data type of each column of Dataframe :
STATEFP10          int64
STATE             object
STATE_ABV         object
ZCTA              object
GEOID10           object
                  ...
PR_PM25          float64
NBE_SCORE        float64
NBE_RANK         float64
OVERALL_SCORE    float64
OVERALL_RANK     float64
Length: 75, dtype: object

In [22]:
hdf.head()

,STATEFP10,STATE,STATE_ABV,ZCTA,GEOID10,MULTI_STATE,POP,PR_HRI,F_HRI,LOW_EMS,...,P_RENT,PR_RENT,P_OZONE,PR_OZONE,P_PM25,PR_PM25,NBE_SCORE,NBE_RANK,OVERALL_SCORE,OVERALL_RANK
0,48,TX,Texas,73949,4873949,1,1688,68,0.75,0,...,34.928230,0.7684,0.666667,0.6180,0.000000,0.0000,0.5074,0.6670,0.6712,0.8462
1,48,TX,Texas,75001,4875001,0,12414,78,1.00,0,...,82.888424,0.9852,5.333333,0.9472,1.333333,0.8668,0.7031,0.9440,0.5510,0.6627
2,48,TX,Texas,75002,4875002,0,63140,54,0.75,0,...,21.299188,0.4391,4.666667,0.9349,1.333333,0.8668,0.6228,0.8673,0.4398,0.4427
3,48,TX,Texas,75006,4875006,0,46364,70,0.75,0,...,49.364908,0.9031,6.000000,0.9573,1.333333,0.8668,0.7188,0.9538,0.5986,0.7432
4,48,TX,Texas,75007,4875007,0,51624,65,0.75,0,...,27.721552,0.6238,6.000000,0.9573,1.333333,0.8668,0.6759,0.9238,0.4737,0.5112

In [24]:
num_vars = hdf.columns[hdf.dtypes != 'object']
print(num_vars)

Index(['STATEFP10', 'MULTI_STATE', 'POP', 'PR_HRI', 'F_HRI', 'LOW_EMS',
       'P_NEHD', 'PR_NEHD', 'HHB_SCORE', 'HHB_RANK', 'P_CHD', 'PR_CHD',
       'F_CHD', 'P_OBS', 'PR_OBS', 'F_OBS', 'P_DIABETES', 'PR_DIABETES',
       'F_DIABETES', 'P_COPD', 'PR_COPD', 'F_COPD', 'P_ASTHMA', 'PR_ASTHMA',
       'F_ASTHMA', 'P_MNTHL', 'PR_MNTHL', 'F_MNTHL', 'F_SEN_COUNT',
       'SEN_SCORE', 'SEN_RANK', 'P_UNINSUR', 'PR_UNINSUR', 'P_POV', 'PR_POV',
       'P_UNEMP', 'PR_UNEMP', 'P_NOHSDP', 'PR_NOHSDP', 'P_ISO', 'PR_ISO',
       'P_ELP', 'PR_ELP', 'P_DISABL', 'PR_DISABL', 'P_ODW', 'PR_ODW',
       'P_AGE65', 'PR_AGE65', 'P_AGE5', 'PR_AGE5', 'SOCIODEM_SCORE',
       'SOCIODEM_RANK', 'P_IMPERV', 'PR_IMPERV', 'P_TREEC', 'PR_TREEC',
       'P_NOVEH', 'PR_NOVEH', 'P_MOBILE', 'PR_MOBILE', 'P_RENT', 'PR_RENT',
       'P_OZONE', 'PR_OZONE', 'P_PM25', 'PR_PM25', 'NBE_SCORE', 'NBE_RANK',
       'OVERALL_SCORE', 'OVERALL_RANK'],
      dtype='object')

In [26]:
char_vars = hdf.columns[hdf.dtypes == 'object']
print(char_vars)

Index(['STATE', 'STATE_ABV', 'ZCTA', 'GEOID10'], dtype='object')

In [28]:
import geopandas as gpd

In [43]:
zipshp = gpd.read_file('/Users/asaldanha/Downloads/tl_2020_us_zcta520/tl_2020_us_zcta520.shp')

In [47]:
zipshp.head()

,ZCTA5CE20,GEOID20,CLASSFP20,MTFCC20,FUNCSTAT20,ALAND20,AWATER20,INTPTLAT20,INTPTLON20,geometry
0,35592,35592,B5,G6350,S,298552385,235989,+33.7427261,-088.0973903,"POLYGON ((-88.24735 33.6539, -88.24713 33.6541..."
1,35616,35616,B5,G6350,S,559506992,41870756,+34.7395036,-088.0193814,"POLYGON ((-88.13997 34.58184, -88.13995 34.582..."
2,35621,35621,B5,G6350,S,117838488,409438,+34.3350314,-086.7270557,"POLYGON ((-86.81659 34.3496, -86.81648 34.3496..."
3,35651,35651,B5,G6350,S,104521045,574316,+34.4609087,-087.4801507,"POLYGON ((-87.53087 34.42492, -87.53082 34.429..."
4,36010,36010,B5,G6350,S,335675180,236811,+31.6598950,-085.8128958,"POLYGON ((-85.95712 31.67744, -85.95676 31.677..."

In [49]:
counties = gpd.read_file('/Users/asaldanha/Downloads/tl_2019_us_county/tl_2019_us_county.shp')

In [51]:
print(counties.columns.tolist())

['STATEFP', 'COUNTYFP', 'COUNTYNS', 'GEOID', 'NAME', 'NAMELSAD', 'LSAD', 'CLASSFP', 'MTFCC', 'CSAFP', 'CBSAFP', 'METDIVFP', 'FUNCSTAT', 'ALAND', 'AWATER', 'INTPTLAT', 'INTPTLON', 'geometry']

In [53]:
print(counties['COUNTYFP'])

0       039
1       069
2       011
3       109
4       129
       ...
3228    123
3229    135
3230    089
3231    227
3232    099
Name: COUNTYFP, Length: 3233, dtype: object

In [55]:
dallas = counties[counties['COUNTYFP']=='113']

In [57]:
print(dallas)

     STATEFP COUNTYFP  COUNTYNS  GEOID        NAME           NAMELSAD LSAD  \
125       05      113  00069175  05113        Polk        Polk County   06
148       17      113  01784833  17113      McLean      McLean County   06
404       20      113  00485021  20113   McPherson   McPherson County   06
637       08      113  00198172  08113  San Miguel  San Miguel County   06
759       13      113  01687740  13113     Fayette     Fayette County   06
780       22      113  00559538  22113   Vermilion   Vermilion Parish   15
864       36      113  00974154  36113      Warren      Warren County   06
865       51      113  01494590  51113     Madison     Madison County   06
953       19      113  00465245  19113        Linn        Linn County   06
1165      42      113  01213687  42113    Sullivan    Sullivan County   06
1205      72      113  01804537  72113       Ponce    Ponce Municipio   13
1235      21      113  00516903  21113   Jessamine   Jessamine County   06
1345      55      113  01581116  55113      Sawyer      Sawyer County   06
1409      06      113  00277321  06113        Yolo        Yolo County   06
1582      31      113  00835878  31113       Logan       Logan County   06
1666      28      113  00711758  28113        Pike        Pike County   06
1736      27      113  00659502  27113  Pennington  Pennington County   06
1844      40      113  01101844  40113       Osage       Osage County   06
1866      37      113  01025833  37113       Macon       Macon County   06
2228      39      113  01074069  39113  Montgomery  Montgomery County   06
2344      29      113  00758511  29113     Lincoln     Lincoln County   06
2397      18      113  00450377  18113       Noble       Noble County   06
2471      01      113  00161583  01113     Russell     Russell County   06
2498      48      113  01383842  48113      Dallas      Dallas County   06
2626      26      113  01622999  26113   Missaukee   Missaukee County   06
2705      12      113  00306914  12113  Santa Rosa  Santa Rosa County   06
2988      47      113  01639769  47113     Madison     Madison County   06

     CLASSFP  MTFCC CSAFP CBSAFP METDIVFP FUNCSTAT       ALAND     AWATER  \
125       H1  G4020  None   None     None        A  2220863254   12372575
148       H1  G4020   145  14010     None        A  3064600918    7801224
404       H1  G4020  None  32700     None        A  2326547432    6003328
637       H1  G4020  None   None     None        A  3332606082    5204095
759       H1  G4020   122  12060     None        A   503436770   12808490
780       H1  G4020   318  29180     None        A  3038604870  955337105
864       H1  G4020   104  24020     None        A  2246082355  166754989
865       H1  G4020   548  47900    47894        A   830447699    3207612
953       H1  G4020   168  16300     None        A  1857223982   19659622
1165      H1  G4020  None   None     None        A  1165338429    6617028
1205      H1  G4020   434  38660     None        A   297688621  203748553
1235      H1  G4020   336  30460     None        A   445905563    6131853
1345      H1  G4020  None   None     None        A  3257235817  239864619
1409      H1  G4020   472  40900     None        A  2628144759   22878428
1582      H1  G4020  None  35820     None        A  1478003936    1203586
1666      H1  G4020  None  32620     None        A  1059350505    4341105
1736      H1  G4020  None   None     None        A  1596928772    4332047
1844      H1  G4020   538  46140     None        A  5818679077  148729736
1866      H1  G4020  None   None     None        A  1335344512   10604264
2228      H1  G4020   212  19430     None        A  1195326276    7511399
2344      H1  G4020   476  41180     None        A  1622809699   35981661
2397      H1  G4020   258  28340     None        A  1064081178   17064798
2471      H1  G4020   194  17980     None        A  1660622936   15596319
2498      H1  G4020   206  19100    19124        A  2259439988   93869577
2626      H1  G4020  None  15620     None        A  1462793646   23588781
2705      H1  G4020   426  37860     None        A  2622050628  418020790
2988      H1  G4020   297  27180     None        A  1443073936    3757608

         INTPTLAT      INTPTLON  \
125   +34.4909149  -094.2308841
148   +40.4945594  -088.8445391
404   +38.3958120  -097.6474893
637   +38.0093190  -108.4272635
759   +33.4127172  -084.4939407
780   +29.7897222  -092.2915678
864   +43.5551053  -073.8381388
865   +38.4120586  -078.2769614
953   +42.0779506  -091.5976735
1165  +41.4392848  -076.5117166
1205  +18.0017167  -066.6066625
1235  +37.8732908  -084.5839603
1345  +45.8649127  -091.1471302
1409  +38.6795955  -121.9024413
1582  +41.5421555  -100.4436647
1666  +31.1775159  -090.3977254
1736  +48.0692470  -096.0377254
1844  +36.6242995  -096.4081120
1866  +35.1529593  -083.4219010
2228  +39.7537357  -084.2905915
2344  +39.0622547  -090.9629165
2397  +41.4046794  -085.4172708
2471  +32.2898113  -085.1869798
2498  +32.7669866  -096.7784238
2626  +44.3254240  -085.0854708
2705  +30.7012689  -087.0128900
2988  +35.6060563  -088.8334238

                                               geometry
125   POLYGON ((-94.45614 34.67981, -94.45608 34.681...
148   POLYGON ((-89.2665 40.48555, -89.26653 40.4864...
404   POLYGON ((-97.92443 38.34789, -97.92445 38.351...
637   POLYGON ((-108.33659 37.89384, -108.33884 37.8...
759   POLYGON ((-84.55686 33.5284, -84.55136 33.5295...
780   POLYGON ((-92.31319 30.12534, -92.31308 30.125...
864   POLYGON ((-74.18256 43.52088, -74.18548 43.540...
865   POLYGON ((-78.43894 38.51679, -78.43893 38.516...
953   POLYGON ((-91.83526 42.03695, -91.83524 42.039...
1165  POLYGON ((-76.7724 41.47169, -76.77242 41.4717...
1205  POLYGON ((-66.63106 18.15039, -66.63101 18.150...
1235  POLYGON ((-84.69461 37.90504, -84.69322 37.909...
1345  POLYGON ((-91.54181 45.98259, -91.54531 45.982...
1409  POLYGON ((-122.16494 38.64246, -122.16398 38.6...
1582  POLYGON ((-100.40518 41.39345, -100.40562 41.3...
1666  POLYGON ((-90.54839 31.22338, -90.54839 31.223...
1736  POLYGON ((-96.50103 48.10869, -96.50102 48.110...
1844  POLYGON ((-96.90928 36.59631, -96.90938 36.596...
1866  POLYGON ((-83.58048 35.29146, -83.57848 35.291...
2228  POLYGON ((-84.48359 39.8304, -84.4836 39.83051...
2344  POLYGON ((-91.18546 39.13905, -91.18543 39.139...
2397  POLYGON ((-85.65351 41.43686, -85.6535 41.4370...
2471  POLYGON ((-85.36196 32.41042, -85.3574 32.4104...
2498  POLYGON ((-96.52999 32.54528, -96.5333 32.5453...
2626  POLYGON ((-85.3384 44.42538, -85.33832 44.4269...
2705  POLYGON ((-87.29836 30.82735, -87.2986 30.8274...
2988  POLYGON ((-89.01909 35.67279, -89.01905 35.672...

In [59]:
dataTypeSeries = counties.dtypes
print('Data type of each column of Dataframe :')
print(dataTypeSeries)

Data type of each column of Dataframe :
STATEFP       object
COUNTYFP      object
COUNTYNS      object
GEOID         object
NAME          object
NAMELSAD      object
LSAD          object
CLASSFP       object
MTFCC         object
CSAFP         object
CBSAFP        object
METDIVFP      object
FUNCSTAT      object
ALAND          int64
AWATER         int64
INTPTLAT      object
INTPTLON      object
geometry    geometry
dtype: object

In [61]:
dallas.to_file('/Users/asaldanha/Work/python/data_created/dallas.geojson', driver='GeoJSON')

In [ ]:
# https://geopandas.org/en/stable/docs/reference/api/geopandas.sjoin.html
# https://stackoverflow.com/questions/68504942/how-do-geopandas-sjoin-predicate-within-and-intersects-differ

In [63]:
dallas_zipcodes = gpd.sjoin(zipcodes, dallas, how='inner', predicate='intersects')

In [65]:
dallas_zipcodes.to_file('/Users/asaldanha/Work/python/data_created/dallas_zipcodes.geojson', driver='GeoJSON')

In [67]:
dallas_zipcodes.head()

,ZCTA5CE20,GEOID20,CLASSFP20,MTFCC20,FUNCSTAT20,ALAND20,AWATER20,INTPTLAT20,INTPTLON20,geometry,...,CLASSFP,MTFCC,CSAFP,CBSAFP,METDIVFP,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON
107,32514,32514,B5,G6350,S,51328342,1128346,+30.5321804,-087.2225390,"POLYGON ((-87.26444 30.53708, -87.26395 30.537...",...,H1,G4020,426,37860,None,A,2622050628,418020790,+30.7012689,-087.0128900
108,32564,32564,B5,G6350,S,266662769,2894289,+30.7288078,-086.7819153,"POLYGON ((-86.9071 30.69625, -86.90697 30.6962...",...,H1,G4020,426,37860,None,A,2622050628,418020790,+30.7012689,-087.0128900
175,32565,32565,B5,G6350,S,596655238,6159122,+30.8943800,-087.1454537,"POLYGON ((-87.31391 30.84871, -87.31358 30.849...",...,H1,G4020,426,37860,None,A,2622050628,418020790,+30.7012689,-087.0128900
196,32566,32566,B5,G6350,S,101447890,33312858,+30.4253015,-086.8923457,"POLYGON ((-86.95173 30.39356, -86.95172 30.394...",...,H1,G4020,426,37860,None,A,2622050628,418020790,+30.7012689,-087.0128900
235,32563,32563,B5,G6350,S,43086275,25929046,+30.3908515,-087.0247850,"POLYGON ((-87.13619 30.37919, -87.13581 30.379...",...,H1,G4020,426,37860,None,A,2622050628,418020790,+30.7012689,-087.0128900

In [69]:
print(dallas_zipcodes)

      ZCTA5CE20 GEOID20 CLASSFP20 MTFCC20 FUNCSTAT20    ALAND20  AWATER20  \
107       32514   32514        B5   G6350          S   51328342   1128346
108       32564   32564        B5   G6350          S  266662769   2894289
175       32565   32565        B5   G6350          S  596655238   6159122
196       32566   32566        B5   G6350          S  101447890  33312858
235       32563   32563        B5   G6350          S   43086275  25929046
...         ...     ...       ...     ...        ...        ...       ...
33224     67476   67476        B5   G6350          S    7845986      4790
33301     46796   46796        B5   G6350          S      71234         0
33722     22725   22725        B5   G6350          S    1876696      4634
33740     75261   75261        B5   G6350          S   36083571    178186
33779     12820   12820        B5   G6350          S     331799         0

        INTPTLAT20    INTPTLON20  \
107    +30.5321804  -087.2225390
108    +30.7288078  -086.7819153
175    +30.8943800  -087.1454537
196    +30.4253015  -086.8923457
235    +30.3908515  -087.0247850
...            ...           ...
33224  +38.5442777  -097.4362174
33301  +41.3366562  -085.4957952
33722  +38.4405102  -078.1560750
33740  +32.9031945  -097.0531253
33779  +43.4600737  -073.6407132

                                                geometry  ...  CLASSFP  MTFCC  \
107    POLYGON ((-87.26444 30.53708, -87.26395 30.537...  ...       H1  G4020
108    POLYGON ((-86.9071 30.69625, -86.90697 30.6962...  ...       H1  G4020
175    POLYGON ((-87.31391 30.84871, -87.31358 30.849...  ...       H1  G4020
196    POLYGON ((-86.95173 30.39356, -86.95172 30.394...  ...       H1  G4020
235    POLYGON ((-87.13619 30.37919, -87.13581 30.379...  ...       H1  G4020
...                                                  ...  ...      ...    ...
33224  POLYGON ((-97.44616 38.56557, -97.44508 38.565...  ...       H1  G4020
33301  POLYGON ((-85.49843 41.33678, -85.49759 41.337...  ...       H1  G4020
33722  POLYGON ((-78.16216 38.4342, -78.16213 38.4343...  ...       H1  G4020
33740  POLYGON ((-97.09233 32.913, -97.09129 32.91428...  ...       H1  G4020
33779  POLYGON ((-73.64529 43.46119, -73.64527 43.461...  ...       H1  G4020

      CSAFP CBSAFP METDIVFP FUNCSTAT       ALAND     AWATER     INTPTLAT  \
107     426  37860     None        A  2622050628  418020790  +30.7012689
108     426  37860     None        A  2622050628  418020790  +30.7012689
175     426  37860     None        A  2622050628  418020790  +30.7012689
196     426  37860     None        A  2622050628  418020790  +30.7012689
235     426  37860     None        A  2622050628  418020790  +30.7012689
...     ...    ...      ...      ...         ...        ...          ...
33224  None  32700     None        A  2326547432    6003328  +38.3958120
33301   258  28340     None        A  1064081178   17064798  +41.4046794
33722   548  47900    47894        A   830447699    3207612  +38.4120586
33740   206  19100    19124        A  2259439988   93869577  +32.7669866
33779   104  24020     None        A  2246082355  166754989  +43.5551053

           INTPTLON
107    -087.0128900
108    -087.0128900
175    -087.0128900
196    -087.0128900
235    -087.0128900
...             ...
33224  -097.6474893
33301  -085.4172708
33722  -078.2769614
33740  -096.7784238
33779  -073.8381388

[673 rows x 28 columns]

In [81]:
print(hdf)

      STATEFP10 STATE STATE_ABV   ZCTA  GEOID10  MULTI_STATE     POP  PR_HRI  \
0            48    TX     Texas  73949  4873949            1    1688      68
1            48    TX     Texas  75001  4875001            0   12414      78
2            48    TX     Texas  75002  4875002            0   63140      54
3            48    TX     Texas  75006  4875006            0   46364      70
4            48    TX     Texas  75007  4875007            0   51624      65
...         ...   ...       ...    ...      ...          ...     ...     ...
1895         48    TX     Texas  79936  4879936            0  111086      45
1896         48    TX     Texas  79938  4879938            0   53520      42
1897         48    TX     Texas  88063  4888063            1   12799      78
1898         48    TX     Texas  88220  4888220            1   33725    -999
1899         48    TX     Texas  88430  4888430            1     162      20

       F_HRI  LOW_EMS  ...     P_RENT  PR_RENT   P_OZONE  PR_OZONE    P_PM25  \
0       0.75        0  ...  34.928230   0.7684  0.666667    0.6180  0.000000
1       1.00        0  ...  82.888424   0.9852  5.333333    0.9472  1.333333
2       0.75        0  ...  21.299188   0.4391  4.666667    0.9349  1.333333
3       0.75        0  ...  49.364908   0.9031  6.000000    0.9573  1.333333
4       0.75        0  ...  27.721552   0.6238  6.000000    0.9573  1.333333
...      ...      ...  ...        ...      ...       ...       ...       ...
1895    0.50        0  ...  33.589186   0.7477  3.333333    0.8955  0.000000
1896    0.50        0  ...  23.031046   0.4927  3.333333    0.8955  0.000000
1897    1.00        0  ...  31.106567   0.7008  8.000000    0.9740  0.000000
1898 -999.00        0  ...  28.082544   0.6326  8.666667    0.9773  0.000000
1899    0.50        1  ...  28.571429   0.6439  0.333333    0.4580  0.000000

      PR_PM25  NBE_SCORE  NBE_RANK  OVERALL_SCORE  OVERALL_RANK
0      0.0000     0.5074    0.6670         0.6712        0.8462
1      0.8668     0.7031    0.9440         0.5510        0.6627
2      0.8668     0.6228    0.8673         0.4398        0.4427
3      0.8668     0.7188    0.9538         0.5986        0.7432
4      0.8668     0.6759    0.9238         0.4737        0.5112
...       ...        ...       ...            ...           ...
1895   0.0000     0.6076    0.8483         0.5091        0.5818
1896   0.0000     0.5150    0.6831         0.5788        0.7115
1897   0.0000     0.7203    0.9544         0.8954        0.9956
1898   0.0000     0.5495    0.7545         0.6066        0.7563
1899   0.0000     0.3546    0.2694         0.4028        0.3672

[1900 rows x 75 columns]

In [93]:
pepefile = gpd.read_file('/Users/asaldanha/Downloads/Northtexas-zipcodes (2).geojson')

In [95]:
pepefile.head()

,STATEFP,COUNTYFP,COUNTYNS,GEOID,GEOIDFQ,NAME,NAMELSAD,LSAD,CLASSFP,MTFCC,...,ZCTA5CE10,GEOID10,CLASSFP10,MTFCC10,FUNCSTAT10,ALAND10,AWATER10,INTPTLAT10,INTPTLON10,geometry
0,48,147,1383859,48147,0500000US48147,Fannin,Fannin County,6,H1,G4020,...,75098,75098,B5,G6350,S,85334402,20374008,33.012135,-96.534936,"MULTIPOLYGON (((-96.60061 33.01124, -96.6 33.0..."
1,48,147,1383859,48147,0500000US48147,Fannin,Fannin County,6,H1,G4020,...,75101,75101,B5,G6350,S,2130983,0,32.270032,-96.702494,"MULTIPOLYGON (((-96.71297 32.28014, -96.71169 ..."
2,48,147,1383859,48147,0500000US48147,Fannin,Fannin County,6,H1,G4020,...,75103,75103,B5,G6350,S,516576997,8411316,32.516879,-95.883624,"MULTIPOLYGON (((-96.07576 32.55478, -96.07573 ..."
3,48,147,1383859,48147,0500000US48147,Fannin,Fannin County,6,H1,G4020,...,75104,75104,B5,G6350,S,101201011,653200,32.580181,-96.964675,"MULTIPOLYGON (((-97.06427 32.54906, -97.06417 ..."
4,48,147,1383859,48147,0500000US48147,Fannin,Fannin County,6,H1,G4020,...,75105,75105,B5,G6350,S,133025915,1938590,32.263010,-96.387663,"MULTIPOLYGON (((-96.38391 32.3284, -96.38537 3..."

In [97]:
hdf.head()

,STATEFP10,STATE,STATE_ABV,ZCTA,GEOID10,MULTI_STATE,POP,PR_HRI,F_HRI,LOW_EMS,...,P_RENT,PR_RENT,P_OZONE,PR_OZONE,P_PM25,PR_PM25,NBE_SCORE,NBE_RANK,OVERALL_SCORE,OVERALL_RANK
0,48,TX,Texas,73949,4873949,1,1688,68,0.75,0,...,34.928230,0.7684,0.666667,0.6180,0.000000,0.0000,0.5074,0.6670,0.6712,0.8462
1,48,TX,Texas,75001,4875001,0,12414,78,1.00,0,...,82.888424,0.9852,5.333333,0.9472,1.333333,0.8668,0.7031,0.9440,0.5510,0.6627
2,48,TX,Texas,75002,4875002,0,63140,54,0.75,0,...,21.299188,0.4391,4.666667,0.9349,1.333333,0.8668,0.6228,0.8673,0.4398,0.4427
3,48,TX,Texas,75006,4875006,0,46364,70,0.75,0,...,49.364908,0.9031,6.000000,0.9573,1.333333,0.8668,0.7188,0.9538,0.5986,0.7432
4,48,TX,Texas,75007,4875007,0,51624,65,0.75,0,...,27.721552,0.6238,6.000000,0.9573,1.333333,0.8668,0.6759,0.9238,0.4737,0.5112

In [101]:
hdf.rename(columns={'ZCTA':'ZCTA5CE10'}, inplace=True)

In [103]:
hdf.head()

,STATEFP10,STATE,STATE_ABV,ZCTA5CE10,GEOID10,MULTI_STATE,POP,PR_HRI,F_HRI,LOW_EMS,...,P_RENT,PR_RENT,P_OZONE,PR_OZONE,P_PM25,PR_PM25,NBE_SCORE,NBE_RANK,OVERALL_SCORE,OVERALL_RANK
0,48,TX,Texas,73949,4873949,1,1688,68,0.75,0,...,34.928230,0.7684,0.666667,0.6180,0.000000,0.0000,0.5074,0.6670,0.6712,0.8462
1,48,TX,Texas,75001,4875001,0,12414,78,1.00,0,...,82.888424,0.9852,5.333333,0.9472,1.333333,0.8668,0.7031,0.9440,0.5510,0.6627
2,48,TX,Texas,75002,4875002,0,63140,54,0.75,0,...,21.299188,0.4391,4.666667,0.9349,1.333333,0.8668,0.6228,0.8673,0.4398,0.4427
3,48,TX,Texas,75006,4875006,0,46364,70,0.75,0,...,49.364908,0.9031,6.000000,0.9573,1.333333,0.8668,0.7188,0.9538,0.5986,0.7432
4,48,TX,Texas,75007,4875007,0,51624,65,0.75,0,...,27.721552,0.6238,6.000000,0.9573,1.333333,0.8668,0.6759,0.9238,0.4737,0.5112

In [107]:
dataTypeSeries = hdf.dtypes
print('Data type of each column of Dataframe :')
print(dataTypeSeries)

Data type of each column of Dataframe :
STATEFP10          int64
STATE             object
STATE_ABV         object
ZCTA5CE10         object
GEOID10           object
                  ...
PR_PM25          float64
NBE_SCORE        float64
NBE_RANK         float64
OVERALL_SCORE    float64
OVERALL_RANK     float64
Length: 75, dtype: object

In [109]:
dataTypeSeries = pepefile.dtypes
print('Data type of each column of Dataframe :')
print(dataTypeSeries)

Data type of each column of Dataframe :
STATEFP          int32
COUNTYFP         int32
COUNTYNS         int32
GEOID            int32
GEOIDFQ         object
NAME            object
NAMELSAD        object
LSAD             int32
CLASSFP         object
MTFCC           object
CSAFP            int32
CBSAFP           int32
METDIVFP        object
FUNCSTAT        object
ALAND            int64
AWATER           int32
INTPTLAT       float64
INTPTLON       float64
ZCTA5CE10        int32
GEOID10          int32
CLASSFP10       object
MTFCC10         object
FUNCSTAT10      object
ALAND10          int32
AWATER10         int32
INTPTLAT10     float64
INTPTLON10     float64
geometry      geometry
dtype: object

In [111]:
pepefile['ZCTA5CE10'] = pepefile['ZCTA5CE10'].astype(str).apply(lambda x: x.replace('.0',''))

In [113]:
dataTypeSeries = pepefile.dtypes
print('Data type of each column of Dataframe :')
print(dataTypeSeries)

Data type of each column of Dataframe :
STATEFP          int32
COUNTYFP         int32
COUNTYNS         int32
GEOID            int32
GEOIDFQ         object
NAME            object
NAMELSAD        object
LSAD             int32
CLASSFP         object
MTFCC           object
CSAFP            int32
CBSAFP           int32
METDIVFP        object
FUNCSTAT        object
ALAND            int64
AWATER           int32
INTPTLAT       float64
INTPTLON       float64
ZCTA5CE10       object
GEOID10          int32
CLASSFP10       object
MTFCC10         object
FUNCSTAT10      object
ALAND10          int32
AWATER10         int32
INTPTLAT10     float64
INTPTLON10     float64
geometry      geometry
dtype: object

In [ ]:
#merge data with geojson file to get north texas data and mapping

In [127]:
dallas_heatzips = gpd.GeoDataFrame(hdf.merge(pepefile, on="ZCTA5CE10"))

In [117]:
print(dallas_heatzips)

     STATEFP10 STATE STATE_ABV ZCTA5CE10 GEOID10_x  MULTI_STATE    POP  \
0           48    TX     Texas     75001   4875001            0  12414
1           48    TX     Texas     75002   4875002            0  63140
2           48    TX     Texas     75006   4875006            0  46364
3           48    TX     Texas     75007   4875007            0  51624
4           48    TX     Texas     75009   4875009            0   8785
..         ...   ...       ...       ...       ...          ...    ...
322         48    TX     Texas     76623   4876623            0    242
323         48    TX     Texas     76651   4876651            0   3300
324         48    TX     Texas     76652   4876652            0   1087
325         48    TX     Texas     76666   4876666            0    244
326         48    TX     Texas     76670   4876670            0   1377

     PR_HRI  F_HRI  LOW_EMS  ...   INTPTLON  GEOID10_y  CLASSFP10  MTFCC10  \
0        78   1.00        0  ... -96.104988      75001         B5    G6350
1        54   0.75        0  ... -96.104988      75002         B5    G6350
2        70   0.75        0  ... -96.104988      75006         B5    G6350
3        65   0.75        0  ... -96.104988      75007         B5    G6350
4        87   1.00        0  ... -96.104988      75009         B5    G6350
..      ...    ...      ...  ...        ...        ...        ...      ...
322      20   0.50        1  ... -96.104988      76623         B5    G6350
323      93   1.00        0  ... -96.104988      76651         B5    G6350
324      20   0.50        0  ... -96.104988      76652         B5    G6350
325      20   0.50        0  ... -96.104988      76666         B5    G6350
326      92   1.00        0  ... -96.104988      76670         B5    G6350

     FUNCSTAT10    ALAND10  AWATER10  INTPTLAT10  INTPTLON10  \
0             S    9929852      8702   32.960047  -96.838522
1             S   96282304   5325129   33.089854  -96.608600
2             S   43706559    657534   32.962141  -96.898585
3             S   30192473    555592   33.005262  -96.896742
4             S  247273155   4043433   33.338899  -96.752977
..          ...        ...       ...         ...         ...
322           S   13132338     69989   32.211123  -96.752827
323           S  267517312   2756123   32.177710  -96.851184
324           S  225632516   5935756   32.117538  -97.575601
325           S   42418420    472634   32.043976  -96.914580
326           S  181140295   1844113   32.136018  -96.988963

                                              geometry
0    MULTIPOLYGON (((-96.85888 32.95438, -96.85884 ...
1    MULTIPOLYGON (((-96.68456 33.07552, -96.68367 ...
2    MULTIPOLYGON (((-96.94437 32.96639, -96.94432 ...
3    MULTIPOLYGON (((-96.94845 32.994, -96.94833 32...
4    MULTIPOLYGON (((-96.89253 33.28368, -96.89247 ...
..                                                 ...
322  MULTIPOLYGON (((-96.79322 32.20842, -96.79298 ...
323  MULTIPOLYGON (((-96.71493 32.16333, -96.71821 ...
324  MULTIPOLYGON (((-97.49037 32.16858, -97.49151 ...
325  MULTIPOLYGON (((-96.94066 32.05209, -96.94185 ...
326  MULTIPOLYGON (((-96.87528 32.08429, -96.87917 ...

[327 rows x 102 columns]

In [119]:
print(pepefile)

     STATEFP  COUNTYFP  COUNTYNS  GEOID         GEOIDFQ    NAME  \
0         48       147   1383859  48147  0500000US48147  Fannin
1         48       147   1383859  48147  0500000US48147  Fannin
2         48       147   1383859  48147  0500000US48147  Fannin
3         48       147   1383859  48147  0500000US48147  Fannin
4         48       147   1383859  48147  0500000US48147  Fannin
..       ...       ...       ...    ...             ...     ...
337       48       147   1383859  48147  0500000US48147  Fannin
338       48       147   1383859  48147  0500000US48147  Fannin
339       48       147   1383859  48147  0500000US48147  Fannin
340       48       147   1383859  48147  0500000US48147  Fannin
341       48       147   1383859  48147  0500000US48147  Fannin

          NAMELSAD  LSAD CLASSFP  MTFCC  ...  ZCTA5CE10  GEOID10 CLASSFP10  \
0    Fannin County     6      H1  G4020  ...      75098    75098        B5
1    Fannin County     6      H1  G4020  ...      75101    75101        B5
2    Fannin County     6      H1  G4020  ...      75103    75103        B5
3    Fannin County     6      H1  G4020  ...      75104    75104        B5
4    Fannin County     6      H1  G4020  ...      75105    75105        B5
..             ...   ...     ...    ...  ...        ...      ...       ...
337  Fannin County     6      H1  G4020  ...      75472    75472        B5
338  Fannin County     6      H1  G4020  ...      75474    75474        B5
339  Fannin County     6      H1  G4020  ...      75475    75475        B5
340  Fannin County     6      H1  G4020  ...      75476    75476        B5
341  Fannin County     6      H1  G4020  ...      75479    75479        B5

    MTFCC10  FUNCSTAT10    ALAND10  AWATER10  INTPTLAT10 INTPTLON10  \
0     G6350           S   85334402  20374008   33.012135 -96.534936
1     G6350           S    2130983         0   32.270032 -96.702494
2     G6350           S  516576997   8411316   32.516879 -95.883624
3     G6350           S  101201011    653200   32.580181 -96.964675
4     G6350           S  133025915   1938590   32.263010 -96.387663
..      ...         ...        ...       ...         ...        ...
337   G6350           S  164863647  46949323   32.884423 -95.869602
338   G6350           S  277948698  61928573   32.924205 -96.109797
339   G6350           S    5333332         0   33.474893 -96.238246
340   G6350           S  133974445    620500   33.708311 -96.240653
341   G6350           S  131536227   3823918   33.618238 -96.333077

                                              geometry
0    MULTIPOLYGON (((-96.60061 33.01124, -96.6 33.0...
1    MULTIPOLYGON (((-96.71297 32.28014, -96.71169 ...
2    MULTIPOLYGON (((-96.07576 32.55478, -96.07573 ...
3    MULTIPOLYGON (((-97.06427 32.54906, -97.06417 ...
4    MULTIPOLYGON (((-96.38391 32.3284, -96.38537 3...
..                                                 ...
337  MULTIPOLYGON (((-95.89665 32.9796, -95.89665 3...
338  MULTIPOLYGON (((-95.97154 32.90485, -95.97195 ...
339  MULTIPOLYGON (((-96.25864 33.48578, -96.2586 3...
340  MULTIPOLYGON (((-96.30832 33.71576, -96.30834 ...
341  MULTIPOLYGON (((-96.37915 33.72526, -96.37885 ...

[342 rows x 28 columns]

In [121]:
dallas_heatzips.to_file('/Users/asaldanha/Work/python/data_created/dallas_heatzips.geojson', driver='GeoJSON')

In [ ]:
#narrow down to dallas region with help from NCTOG open map files

In [129]:
dallas_city = gpd.read_file('/Users/asaldanha/Downloads/Cities_Region_(2024).geojson')

In [133]:
dallas_city.head()

,OBJECTID,CITY,TYPE,FIPSCODE,GEOID,NOTES,UPDATE_YEAR,SOURCE,AREA_SQ_MI,FIPSCODE_OLD,ShapeSTLength,ShapeSTArea,geometry
0,1,Aledo,City,01744,4801744,PDF,2021,City,2.656081,01744,63456.619093,7.404729e+07,"POLYGON ((-97.62335 32.71358, -97.62352 32.713..."
1,2,Alvord,Town,02284,4802284,Geodatabase,2024,NCT9-1-1 Wise,1.536303,02284,51643.470741,4.282966e+07,"POLYGON ((-97.70397 33.35405, -97.70379 33.353..."
2,3,Angus,City,03288,4803288,Geodatabase,2024,NCT9-1-1 Navarro,3.132794,03288,131282.566357,8.733728e+07,"POLYGON ((-96.44083 32.00706, -96.44234 32.008..."
3,4,Annetta North,Town,03340,4803340,PDF,2019,City,4.623113,03340,112418.007043,1.288850e+08,"POLYGON ((-97.63397 32.70914, -97.63409 32.709..."
4,5,Annetta South,Town,03342,4803342,JPG,2018,City,1.775799,03342,84788.349771,4.950644e+07,"POLYGON ((-97.66081 32.67417, -97.6614 32.6742..."

In [161]:
layer_dallas =  dallas_city[(dallas_city.CITY == "Dallas")]

In [163]:
layer_dallas.head()

,OBJECTID,CITY,TYPE,FIPSCODE,GEOID,NOTES,UPDATE_YEAR,SOURCE,AREA_SQ_MI,FIPSCODE_OLD,ShapeSTLength,ShapeSTArea,geometry
165,166,Dallas,City,19000,4819000,Shapefile,2024,City,383.93871,19000,1.718854e+06,1.070360e+10,"POLYGON ((-96.47076 33.02013, -96.47168 33.020..."

In [153]:
print(layer_dallas)

Empty GeoDataFrame
Columns: [OBJECTID, CITY, TYPE, FIPSCODE, GEOID, NOTES, UPDATE_YEAR, SOURCE, AREA_SQ_MI, FIPSCODE_OLD, ShapeSTLength, ShapeSTArea, geometry]
Index: []

In [135]:
dallas_heatzips.head()

,STATEFP10,STATE,STATE_ABV,ZCTA5CE10,GEOID10_x,MULTI_STATE,POP,PR_HRI,F_HRI,LOW_EMS,...,INTPTLON,GEOID10_y,CLASSFP10,MTFCC10,FUNCSTAT10,ALAND10,AWATER10,INTPTLAT10,INTPTLON10,geometry
0,48,TX,Texas,75001,4875001,0,12414,78,1.00,0,...,-96.104988,75001,B5,G6350,S,9929852,8702,32.960047,-96.838522,"MULTIPOLYGON (((-96.85888 32.95438, -96.85884 ..."
1,48,TX,Texas,75002,4875002,0,63140,54,0.75,0,...,-96.104988,75002,B5,G6350,S,96282304,5325129,33.089854,-96.608600,"MULTIPOLYGON (((-96.68456 33.07552, -96.68367 ..."
2,48,TX,Texas,75006,4875006,0,46364,70,0.75,0,...,-96.104988,75006,B5,G6350,S,43706559,657534,32.962141,-96.898585,"MULTIPOLYGON (((-96.94437 32.96639, -96.94432 ..."
3,48,TX,Texas,75007,4875007,0,51624,65,0.75,0,...,-96.104988,75007,B5,G6350,S,30192473,555592,33.005262,-96.896742,"MULTIPOLYGON (((-96.94845 32.994, -96.94833 32..."
4,48,TX,Texas,75009,4875009,0,8785,87,1.00,0,...,-96.104988,75009,B5,G6350,S,247273155,4043433,33.338899,-96.752977,"MULTIPOLYGON (((-96.89253 33.28368, -96.89247 ..."

In [165]:
dallas_city_hdf = gpd.sjoin(dallas_heatzips, layer_dallas, how='inner', predicate='intersects')

In [167]:
print(dallas_city_hdf)

     STATEFP10 STATE STATE_ABV ZCTA5CE10 GEOID10_x  MULTI_STATE    POP  \
0           48    TX     Texas     75001   4875001            0  12414
2           48    TX     Texas     75006   4875006            0  46364
3           48    TX     Texas     75007   4875007            0  51624
7           48    TX     Texas     75019   4875019            0  38666
15          48    TX     Texas     75032   4875032            0  27986
..         ...   ...       ...       ...       ...          ...    ...
144         48    TX     Texas     75251   4875251            0   2331
145         48    TX     Texas     75252   4875252            0  24112
146         48    TX     Texas     75253   4875253            0  18450
147         48    TX     Texas     75254   4875254            0  23253
148         48    TX     Texas     75287   4875287            0  49004

     PR_HRI  F_HRI  LOW_EMS  ...  TYPE  FIPSCODE  GEOID_right      NOTES  \
0        78   1.00        0  ...  City     19000      4819000  Shapefile
2        70   0.75        0  ...  City     19000      4819000  Shapefile
3        65   0.75        0  ...  City     19000      4819000  Shapefile
7        79   1.00        0  ...  City     19000      4819000  Shapefile
15       75   1.00        0  ...  City     19000      4819000  Shapefile
..      ...    ...      ...  ...   ...       ...          ...        ...
144      92   1.00        0  ...  City     19000      4819000  Shapefile
145      48   0.50        0  ...  City     19000      4819000  Shapefile
146      56   0.75        0  ...  City     19000      4819000  Shapefile
147      56   0.75        0  ...  City     19000      4819000  Shapefile
148      55   0.75        0  ...  City     19000      4819000  Shapefile

     UPDATE_YEAR  SOURCE  AREA_SQ_MI  FIPSCODE_OLD  ShapeSTLength  \
0           2024    City   383.93871         19000   1.718854e+06
2           2024    City   383.93871         19000   1.718854e+06
3           2024    City   383.93871         19000   1.718854e+06
7           2024    City   383.93871         19000   1.718854e+06
15          2024    City   383.93871         19000   1.718854e+06
..           ...     ...         ...           ...            ...
144         2024    City   383.93871         19000   1.718854e+06
145         2024    City   383.93871         19000   1.718854e+06
146         2024    City   383.93871         19000   1.718854e+06
147         2024    City   383.93871         19000   1.718854e+06
148         2024    City   383.93871         19000   1.718854e+06

      ShapeSTArea
0    1.070360e+10
2    1.070360e+10
3    1.070360e+10
7    1.070360e+10
15   1.070360e+10
..            ...
144  1.070360e+10
145  1.070360e+10
146  1.070360e+10
147  1.070360e+10
148  1.070360e+10

[87 rows x 115 columns]

In [169]:
dallas_city_hdf.to_file('/Users/asaldanha/Work/python/data_created/dallas_cityheat.geojson', driver='GeoJSON')

In [171]:
dallas_city_hdf.head()

,STATEFP10,STATE,STATE_ABV,ZCTA5CE10,GEOID10_x,MULTI_STATE,POP,PR_HRI,F_HRI,LOW_EMS,...,TYPE,FIPSCODE,GEOID_right,NOTES,UPDATE_YEAR,SOURCE,AREA_SQ_MI,FIPSCODE_OLD,ShapeSTLength,ShapeSTArea
0,48,TX,Texas,75001,4875001,0,12414,78,1.00,0,...,City,19000,4819000,Shapefile,2024,City,383.93871,19000,1.718854e+06,1.070360e+10
2,48,TX,Texas,75006,4875006,0,46364,70,0.75,0,...,City,19000,4819000,Shapefile,2024,City,383.93871,19000,1.718854e+06,1.070360e+10
3,48,TX,Texas,75007,4875007,0,51624,65,0.75,0,...,City,19000,4819000,Shapefile,2024,City,383.93871,19000,1.718854e+06,1.070360e+10
7,48,TX,Texas,75019,4875019,0,38666,79,1.00,0,...,City,19000,4819000,Shapefile,2024,City,383.93871,19000,1.718854e+06,1.070360e+10
15,48,TX,Texas,75032,4875032,0,27986,75,1.00,0,...,City,19000,4819000,Shapefile,2024,City,383.93871,19000,1.718854e+06,1.070360e+10

In [233]:
gdf = dallas_city_hdf

In [237]:
print(gdf)

    STATE_ABV ZCTA5CE10 GEOID10_x    POP  PR_HRI  F_HRI  LOW_EMS      P_NEHD  \
0       Texas     75001   4875001  12414      78   1.00        0   14.200000
2       Texas     75006   4875006  46364      70   0.75        0   14.266667
3       Texas     75007   4875007  51624      65   0.75        0   14.255556
7       Texas     75019   4875019  38666      79   1.00        0   14.400000
15      Texas     75032   4875032  27986      75   1.00        0   15.800000
..        ...       ...       ...    ...     ...    ...      ...         ...
144     Texas     75251   4875251   2331      92   1.00        0 -999.000000
145     Texas     75252   4875252  24112      48   0.50        0   14.220000
146     Texas     75253   4875253  18450      56   0.75        0   14.933333
147     Texas     75254   4875254  23253      56   0.75        0   14.200000
148     Texas     75287   4875287  49004      55   0.75        0   14.200000

      PR_NEHD  HHB_SCORE  ...  INTPTLAT10  INTPTLON10  \
0      0.5885     0.7942  ...   32.960047  -96.838522
2      0.5989     0.6744  ...   32.962141  -96.898585
3      0.5987     0.6744  ...   33.005262  -96.896742
7      0.6046     0.8023  ...   32.963417  -96.984664
15     0.7305     0.8653  ...   32.857112  -96.431210
..        ...        ...  ...         ...         ...
144 -999.0000     1.0000  ...   32.919789  -96.770948
145    0.5976     0.5488  ...   32.997373  -96.788213
146    0.6532     0.7016  ...   32.674426  -96.609228
147    0.5885     0.6692  ...   32.944116  -96.800090
148    0.5885     0.6692  ...   32.999309  -96.841688

                                              geometry  index_right  OBJECTID  \
0    MULTIPOLYGON (((-96.85888 32.95438, -96.85884 ...          165       166
2    MULTIPOLYGON (((-96.94437 32.96639, -96.94432 ...          165       166
3    MULTIPOLYGON (((-96.94845 32.994, -96.94833 32...          165       166
7    MULTIPOLYGON (((-97.03258 32.95893, -97.03251 ...          165       166
15   MULTIPOLYGON (((-96.51896 32.81372, -96.51887 ...          165       166
..                                                 ...          ...       ...
144  MULTIPOLYGON (((-96.7805 32.92406, -96.7804 32...          165       166
145  MULTIPOLYGON (((-96.81712 33.00952, -96.81689 ...          165       166
146  MULTIPOLYGON (((-96.66971 32.66103, -96.66957 ...          165       166
147  MULTIPOLYGON (((-96.83017 32.95316, -96.83013 ...          165       166
148  MULTIPOLYGON (((-96.87437 32.99128, -96.87423 ...          165       166

       CITY  TYPE  FIPSCODE  GEOID_right   ShapeSTArea
0    Dallas  City     19000      4819000  1.070360e+10
2    Dallas  City     19000      4819000  1.070360e+10
3    Dallas  City     19000      4819000  1.070360e+10
7    Dallas  City     19000      4819000  1.070360e+10
15   Dallas  City     19000      4819000  1.070360e+10
..      ...   ...       ...          ...           ...
144  Dallas  City     19000      4819000  1.070360e+10
145  Dallas  City     19000      4819000  1.070360e+10
146  Dallas  City     19000      4819000  1.070360e+10
147  Dallas  City     19000      4819000  1.070360e+10
148  Dallas  City     19000      4819000  1.070360e+10

[87 rows x 106 columns]

In [239]:
gdf.head()

,STATE_ABV,ZCTA5CE10,GEOID10_x,POP,PR_HRI,F_HRI,LOW_EMS,P_NEHD,PR_NEHD,HHB_SCORE,...,INTPTLAT10,INTPTLON10,geometry,index_right,OBJECTID,CITY,TYPE,FIPSCODE,GEOID_right,ShapeSTArea
0,Texas,75001,4875001,12414,78,1.00,0,14.200000,0.5885,0.7942,...,32.960047,-96.838522,"MULTIPOLYGON (((-96.85888 32.95438, -96.85884 ...",165,166,Dallas,City,19000,4819000,1.070360e+10
2,Texas,75006,4875006,46364,70,0.75,0,14.266667,0.5989,0.6744,...,32.962141,-96.898585,"MULTIPOLYGON (((-96.94437 32.96639, -96.94432 ...",165,166,Dallas,City,19000,4819000,1.070360e+10
3,Texas,75007,4875007,51624,65,0.75,0,14.255556,0.5987,0.6744,...,33.005262,-96.896742,"MULTIPOLYGON (((-96.94845 32.994, -96.94833 32...",165,166,Dallas,City,19000,4819000,1.070360e+10
7,Texas,75019,4875019,38666,79,1.00,0,14.400000,0.6046,0.8023,...,32.963417,-96.984664,"MULTIPOLYGON (((-97.03258 32.95893, -97.03251 ...",165,166,Dallas,City,19000,4819000,1.070360e+10
15,Texas,75032,4875032,27986,75,1.00,0,15.800000,0.7305,0.8653,...,32.857112,-96.431210,"MULTIPOLYGON (((-96.51896 32.81372, -96.51887 ...",165,166,Dallas,City,19000,4819000,1.070360e+10

In [243]:
gdf.drop(['INTPTLAT10', 'INTPTLON10', 
                'geometry', 'index_right', 'OBJECTID', 'CITY', 'TYPE', 'ShapeSTArea'], axis=1, inplace=True)

In [259]:
gdf.head()

,STATE_ABV,ZCTA5CE10,GEOID10_x,POP,PR_HRI,F_HRI,LOW_EMS,P_NEHD,PR_NEHD,HHB_SCORE,...,NAMELSAD,LSAD,CLASSFP,MTFCC,CSAFP,CBSAFP,METDIVFP,FUNCSTAT,ALAND,AWATER
0,Texas,75001,4875001,12414,78,1.00,0,14.200000,0.5885,0.7942,...,Fannin County,6,H1,G4020,206,14300,null,A,2307251053,20847065
2,Texas,75006,4875006,46364,70,0.75,0,14.266667,0.5989,0.6744,...,Fannin County,6,H1,G4020,206,14300,null,A,2307251053,20847065
3,Texas,75007,4875007,51624,65,0.75,0,14.255556,0.5987,0.6744,...,Fannin County,6,H1,G4020,206,14300,null,A,2307251053,20847065
7,Texas,75019,4875019,38666,79,1.00,0,14.400000,0.6046,0.8023,...,Fannin County,6,H1,G4020,206,14300,null,A,2307251053,20847065
15,Texas,75032,4875032,27986,75,1.00,0,15.800000,0.7305,0.8653,...,Fannin County,6,H1,G4020,206,14300,null,A,2307251053,20847065

In [267]:
gdf.drop(['NAMELSAD', 'MTFCC', 'CLASSFP', 'LSAD', 'CSAFP', 'METDIVFP', 'FUNCSTAT', 'CBSAFP',
                'ALAND', 'AWATER'], axis=1, inplace=True)

In [269]:
print(gdf)

    STATE_ABV ZCTA5CE10 GEOID10_x    POP  PR_HRI  F_HRI  LOW_EMS      P_NEHD  \
0       Texas     75001   4875001  12414      78   1.00        0   14.200000
2       Texas     75006   4875006  46364      70   0.75        0   14.266667
3       Texas     75007   4875007  51624      65   0.75        0   14.255556
7       Texas     75019   4875019  38666      79   1.00        0   14.400000
15      Texas     75032   4875032  27986      75   1.00        0   15.800000
..        ...       ...       ...    ...     ...    ...      ...         ...
144     Texas     75251   4875251   2331      92   1.00        0 -999.000000
145     Texas     75252   4875252  24112      48   0.50        0   14.220000
146     Texas     75253   4875253  18450      56   0.75        0   14.933333
147     Texas     75254   4875254  23253      56   0.75        0   14.200000
148     Texas     75287   4875287  49004      55   0.75        0   14.200000

      PR_NEHD  HHB_SCORE  ...  NBE_SCORE  NBE_RANK  OVERALL_SCORE  \
0      0.5885     0.7942  ...     0.7031    0.9440         0.5510
2      0.5989     0.6744  ...     0.7188    0.9538         0.5986
3      0.5987     0.6744  ...     0.6759    0.9238         0.4737
7      0.6046     0.8023  ...     0.6613    0.9100         0.4568
15     0.7305     0.8653  ...     0.6126    0.8551         0.4849
..        ...        ...  ...        ...       ...            ...
144 -999.0000     1.0000  ...     0.7996    0.9892         0.6009
145    0.5976     0.5488  ...     0.7619    0.9758         0.5070
146    0.6532     0.7016  ...     0.7670    0.9782         0.8215
147    0.5885     0.6692  ...     0.7431    0.9667         0.7028
148    0.5885     0.6692  ...     0.7192    0.9539         0.5339

     OVERALL_RANK  STATEFP  COUNTYFP  COUNTYNS  GEOID_left         GEOIDFQ  \
0          0.6627       48       147   1383859       48147  0500000US48147
2          0.7432       48       147   1383859       48147  0500000US48147
3          0.5112       48       147   1383859       48147  0500000US48147
7          0.4775       48       147   1383859       48147  0500000US48147
15         0.5335       48       147   1383859       48147  0500000US48147
..            ...      ...       ...       ...         ...             ...
144        0.7465       48       147   1383859       48147  0500000US48147
145        0.5781       48       147   1383859       48147  0500000US48147
146        0.9724       48       147   1383859       48147  0500000US48147
147        0.8816       48       147   1383859       48147  0500000US48147
148        0.6301       48       147   1383859       48147  0500000US48147

       NAME
0    Fannin
2    Fannin
3    Fannin
7    Fannin
15   Fannin
..      ...
144  Fannin
145  Fannin
146  Fannin
147  Fannin
148  Fannin

[87 rows x 78 columns]

In [271]:
gdf.drop(['STATEFP', 'COUNTYFP', 'COUNTYNS', 'GEOID_left', 'GEOIDFQ', 'NAME'], axis=1, inplace=True)

In [273]:
gdf.head()

,STATE_ABV,ZCTA5CE10,GEOID10_x,POP,PR_HRI,F_HRI,LOW_EMS,P_NEHD,PR_NEHD,HHB_SCORE,...,P_RENT,PR_RENT,P_OZONE,PR_OZONE,P_PM25,PR_PM25,NBE_SCORE,NBE_RANK,OVERALL_SCORE,OVERALL_RANK
0,Texas,75001,4875001,12414,78,1.00,0,14.200000,0.5885,0.7942,...,82.888424,0.9852,5.333333,0.9472,1.333333,0.8668,0.7031,0.9440,0.5510,0.6627
2,Texas,75006,4875006,46364,70,0.75,0,14.266667,0.5989,0.6744,...,49.364908,0.9031,6.000000,0.9573,1.333333,0.8668,0.7188,0.9538,0.5986,0.7432
3,Texas,75007,4875007,51624,65,0.75,0,14.255556,0.5987,0.6744,...,27.721552,0.6238,6.000000,0.9573,1.333333,0.8668,0.6759,0.9238,0.4737,0.5112
7,Texas,75019,4875019,38666,79,1.00,0,14.400000,0.6046,0.8023,...,30.921540,0.6973,6.000000,0.9573,1.333333,0.8668,0.6613,0.9100,0.4568,0.4775
15,Texas,75032,4875032,27986,75,1.00,0,15.800000,0.7305,0.8653,...,17.692646,0.3248,3.666667,0.9067,1.333333,0.8668,0.6126,0.8551,0.4849,0.5335

In [275]:
gdf.to_csv('dallas_analysis.csv')